* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  background-color: #264653;
}

/* START NEW GAME PAGE */

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-home {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.you,
.computer {
  display: flex;
  gap: 1rem;
}

.score-you,
.score-comp {
  font-size: 2rem;
}

.game-title {
  font-size: 3rem;
  color: #f1faee;
  font-weight: 300;
}

.btn-start {
  font-size: 1.7rem;
  padding: 1.3rem 1rem;
  background-color: #f4a261;
  border: none;
  box-shadow: 7px 7px #9e693e;
  cursor: pointer;
}

.btn-start:hover {
  background-color: #eead78;
  transform: translateY(0.3rem);
  box-shadow: 5px 5px #9e693e;
  transition: all 0.2s ease-in;
}

.r-p-s {
  align-self: center;
  height: 100px;
  width: 100px;
}

.hidden {
  display: none;
}

/* PLAY */

.players {
  display: flex;
  justify-content: space-around;
  margin: 2rem 3rem;
  color: #f1faee;
  font-weight: 300;
}

.player-choices {
  display: flex;
  justify-content: space-around;
  height: 150px;
}

.choices-you > *,
.choices-comp > * {
  position: absolute;
  width: 150px;
  height: 150px;
}

.choices-you {
  margin-right: 6rem;
}

.choices-comp {
  margin-right: 10rem;
}

.btn-choices {
  display: flex;
  margin: 4rem;
}

.btn-choices > * {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
.btn-choices > *:hover {
  transform: translateY(0.3rem);
}

.rock {
  background-color: #e9c46a;
  box-shadow: 5px 5px #b49648;
}
.rock:hover {
  background-color: #f1d284;
  box-shadow: 3px 3px #b49648;
}

.paper {
  background-color: #f4a261;
  box-shadow: 5px 5px #ba7741;
}
.paper:hover {
  background-color: #f3b684;
  box-shadow: 3px 3px #ba7741;
}

.scissor {
  background-color: #e76f51;
  box-shadow: 5px 5px #b75138;
}
.scissor:hover {
  background-color: #f08e76;
  box-shadow: 3px 3px #b75138;
}

/* SCORE */
.game-score {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.score {
  color: #f1faee;
  text-align: center;
  font-size: 4rem;
}

.btn-playagain {
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #2a9d8f;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px #1c7d71;
}

.btn-playagain:hover {
  background-color: #41b4a7;
  box-shadow: 3px 3px #1c7d71;
  transform: translateY(0.3rem);
}
